@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:ital,wght@0,400;0,500;1,400&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.bg_gradient1 {
  /* ff 3.6+ */
  background: -moz-linear-gradient(149deg, #141414 0%, #131342 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(149deg, #141414 0%, #131342 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(149deg, #141414 0%, #131342 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131342', endColorstr='#141414', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(149deg, #141414 0%, #131342 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(149deg, #141414 0%, #131342 100%);
}
